
.input::-webkit-inner-spin-button {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

span {
  font-family: sans-serif;
  font-weight: 600;
}
.invalid__step:before,
.invalid__step:after {
  content: '';
  position: absolute;
  background-color: red;
}

.invalid__step:before{
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid red;
  background-color: transparent;
  transform: translateY(100%);
  bottom: 0;
  left: 10px;
}

.invalid__step:after {
  content: "Step was set 1 as default cause it should be in range from 1 to 1000000";
  width: 100%;
  bottom: 0;
  letter-spacing: 0.03rem;
  transform: translateY(110%);
  font-size: 0.7rem;
  font-weight: 700;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 0.3rem;
  left: 0;
}
