.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-family: sans-serif;
  font-weight: 600;
}

.container div button {
  min-width: 50px;
  padding: 0.3rem 1rem;
}

.container div button:last-child {
  margin-left: 0.85rem;
}
